flows_NanoPi-K2.json
[{"id":"5996583a.1f27a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b02683ef.04f32","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"43b71420.28e29c","type":"json-db-collection","z":"","name":"TestDb","collection":"TestDb","save":true},{"id":"c58d75be.466508","type":"mqtt-broker","z":"","name":"LocalMQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b65b5c4.6289d8","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0ca2ad","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5773e1c8.dbda","type":"ui_group","z":0,"name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"45cc9a50.6416d4","type":"ui_group","z":0,"name":"ESP32 Sensors","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e52f6e88.9aaba","type":"ui_group","z":0,"name":"Led Control","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd2c2392.923b3","type":"ui_group","z":0,"name":"CAM","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d5574264.a065b","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"4640cc2d.2453e4","type":"ui_group","z":"","name":"Sensors","tab":"d5574264.a065b","order":1,"disp":true,"width":"6","collapse":false},{"id":"79803fd1.4aa7","type":"ui_group","z":"","name":"Led Control","tab":"d5574264.a065b","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f03e6e1.d3d7c8","type":"ui_gauge","z":"5996583a.1f27a8","name":"","group":"4640cc2d.2453e4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gall Sensor","label":"","format":"{{value}}","min":"-50","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"1d3e0f81.662b","type":"mqtt in","z":"5996583a.1f27a8","name":"Events","topic":"esp32/events","qos":"0","broker":"c58d75be.466508","x":70,"y":160,"wires":[["bbcd1121.f8f8a"]]},{"id":"2f9d703a.485e3","type":"debug","z":"5996583a.1f27a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":40,"wires":[]},{"id":"bbcd1121.f8f8a","type":"json","z":"5996583a.1f27a8","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":160,"wires":[["229c30ea.469e7","2f9d703a.485e3"]]},{"id":"229c30ea.469e7","type":"function","z":"5996583a.1f27a8","name":"Hall","func":"msg.payload = msg.payload.body.hall;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["6f03e6e1.d3d7c8"]]},{"id":"287d7420.c435ec","type":"ui_switch","z":"5996583a.1f27a8","name":"","label":"Power","group":"79803fd1.4aa7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":240,"wires":[["2152422d.1cf57e"]]},{"id":"2a9c8c1.d448674","type":"mqtt out","z":"5996583a.1f27a8","name":"","topic":"","qos":"","retain":"","broker":"c58d75be.466508","x":390,"y":240,"wires":[]},{"id":"2152422d.1cf57e","type":"function","z":"5996583a.1f27a8","name":"MqttMsg","func":"msg.topic = \"esp32/command\";\nmsg.payload = {\n    \"power\": msg.payload,\n    \"led\": 255\n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":240,"wires":[["2a9c8c1.d448674"]]}]